/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --main-text-color: #353430;
  --support-color: #353430;
  --outline-button-color: #32312D40;
  --accent-color: #FF8DCB;
  --accent-text-color: #353430;
  --bg-color: #FFF1F7;
  --title-color: #FFC2E6;
  --path-to-image: url("../images/cover-image-light.png");
}

.theme-light .decoration_element::after {
  display: none;
}

.theme-light .decoration_element::before {
  display: none;
}

/* .theme-light .header__theme-menu-button_active {
  border: 1px var(--main-text-color) solid;
} */

@media (prefers-color-scheme: light) {
  :root {
    --main-text-color: #353430;
    --support-color: #353430;
    --accent-color: #FF8DCB;
    --outline-button-color: #32312D40;
    --accent-text-color: #353430;
    --bg-color: #FFF1F7;
    --title-color: #FFC2E6;
    --path-to-image: url("../images/cover-image-light.png");
  }

  .theme-auto .decoration_element::after {
    display: none;
  }
  
  .theme-auto .decoration_element::before {
    display: none;
  }
}