/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-text-color: #F1B2CE;
  --accent-color: #FF0070;
  --support-color: #FF0070;
  --accent-text-color: #000028;
  --outline-button-color: #FF007066;
  --bg-color: #000028;
  --title-color: #DB00FF;
  --text-font: 'IBM Plex Mono';
  --path-to-image: url("../images/cover-image-dark.png");
  --page-padding: 10px;
  --gap-between-section: 50px;
  --menu-margin-top: 75px;
  --header-padding-bottom: 66px;
  --title-margin-bottom: 55px;
  --title-margin-top: 66.5px;
  --main-footer-margin-top: 40px;
  --footer-padding-block: 285px;
  --decor-top-position: 18px;
  --decor-right-position: 19px;
  --rec-right-position: 38px;
}

@media (width >= 768px) {
  :root {
    --page-padding: 20px;
    --gap-between-section: 80px;
    --menu-margin-top: 192px;
    --header-padding-bottom: 183px;
    --title-margin-top: 174.5px;
    --title-margin-bottom: 162px;
    --main-footer-margin-top: 60px;
    --footer-padding-block: 462px;
    --decor-top-position: 28px;
    --decor-right-position: 29px;
    --rec-right-position: 48px;
  }
}

@media (width >= 1024px) {
  :root {
    --gap-between-section: 80px;
    --menu-margin-top: 20px;
    --main-footer-margin-top: 60px;
    --decor-top-position: 20px;
    --header-padding-bottom: 135px;
    --title-margin-bottom: 114px;
    --footer-padding-block: 319px;
    --title-margin-top: 274.5px;
  }
}
